<?xml version="1.0" ?>
<robot name="dingo" xmlns:xacro="http://www.ros.org/wiki/xacro">
    <xacro:arg name="lidar" default="true"/>
    <xacro:arg name="mode" default="velocity"/>
    <xacro:arg name="dingo_id" default="" />

    <!-- Add dingo -->
    <xacro:include filename="$(find dinova_description)/urdf/dingo_omni_macro.xacro"/>
    <xacro:dingo_omni prefix=""/>
    
    <link name="world"/>
    <joint name="world_link" type="fixed">
        <origin rpy="0 0 0" xyz="0 0 0"/>
        <parent link="world"/>
        <child link="base_link"/>
    </joint>

    <!-- Add gazebo transmissions for dingo -->
    <xacro:include filename="$(find dinova_gazebo)/urdf/dingo_gazebo_transm_macro.xacro"/>
    <xacro:dingo_omni_gazebo_trans mode="$(arg mode)" prefix="$(arg dingo_id)" />

    <gazebo>
        <plugin name="gazebo_ros_control" filename="libgazebo_ros_control.so">
        </plugin>
    </gazebo>

    <!-- Add lidar -->
    <xacro:if value="$(arg lidar)">
      <xacro:include filename="$(find velodyne_description)/urdf/VLP-16.urdf.xacro"/>
      <xacro:VLP-16 parent="mid_mount" name="velodyne" topic="/velodyne_points" hz="10" samples="440" gpu="false" min_range="0.4" >
          <origin xyz="0 0 0" rpy="0 0 0" />
      </xacro:VLP-16>
    </xacro:if>
</robot>