<?xml version="1.0"?>
<launch>
    <!-- dingo_real_urdf => There is a difference between urdf file for real dingo and the one in gazebo/control (wheel vs [x,y,theta]).
                            For Gazebo set it to false -->
    <arg name="dingo_real_urdf" default="true" />
    <arg name="lidar" default="false" />

    <param name="robot_description" command="$(find xacro)/xacro '$(find dinova_description)/urdf/dingo.xacro'
                                                dingo_real_urdf:=$(arg dingo_real_urdf)
                                                lidar:=$(arg lidar)"/>
    

    <node name="joint_state_publisher_gui" pkg="joint_state_publisher_gui" type="joint_state_publisher_gui"/>
   
    <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"/>
    <node name="rviz" pkg="rviz" type="rviz" args="-d $(find dinova_description)/config/config.rviz" required="true"/>
</launch>
