<?xml version="1.0"?>
<launch>
    <arg name="robot_id" default="" />
    <arg name="dingo_real_urdf" default="true" />
    <arg name="load_gripper" default="true" />


    <param name="robot_description" command="$(find xacro)/xacro --inorder '$(find dinova_description)/urdf/dinova.xacro'
            robot_id:=$(arg robot_id)
            load_gripper:=$(arg load_gripper)
            dingo_real_urdf:=$(arg dingo_real_urdf)"/>

    <node name="joint_state_publisher_gui" pkg="joint_state_publisher_gui" type="joint_state_publisher_gui"/>
   
    <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"/>
    <node name="rviz" pkg="rviz" type="rviz" args="-d $(find dinova_description)/config/config.rviz" required="true"/>
</launch>
