<?xml version="1.0"?>
<launch>
    <arg name="dingo_id" default="" />
    <!-- dingo_real_urdf => There is a difference between urdf file for real dingo and the one in gazebo/control (wheel vs [x,y,theta]).
                            For Gazebo set it to false -->
    <arg name="dingo_real_urdf" default="true" />
    <arg name="lidar" default="false" />


    <group if="$(eval arg('dingo_real_urdf'))">
        <param name="robot_description" command="$(find xacro)/xacro '$(find dinova_description)/urdf/real_dingo-o.urdf.xacro'
                                            "/>       
    </group>
    <group if="$(eval not arg('dingo_real_urdf'))">
        <param name="robot_description" command="$(find xacro)/xacro '$(find dinova_description)/urdf/dingo_omni.xacro'
                                                dingo_id:=$(arg dingo_id)
                                                lidar:=$(arg dingo_id)"/>
    </group>

    <node name="joint_state_publisher_gui" pkg="joint_state_publisher_gui" type="joint_state_publisher_gui"/>
   
    <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"/>
    <node name="rviz" pkg="rviz" type="rviz" args="-d $(find dinova_description)/config/config.rviz" required="true"/>
</launch>
